extends ../layouts/application.pug

block header
  = t('views.users.edit')

block content
 TODO 
  +formFor()(action=`/users/${user.id}` method='patch')
    +input(user, 'firstName', errors)(type="text")
    +input(user, 'lastName', errors)(type="text")
    +input(user, 'email', errors)(type="email")
    +input(user, 'password', errors)(type="password")
    +submit(user)(value=t('views.users.new.submit'))
