extends ../layouts/application.pug

block header
  = t('views.tasks.new.create')

block content
  - statusesData = { options: statuses, textField: 'name'}
  - usersData = { options: users, textField: 'lastName'}
  +formFor()(action=route('tasks') method='post')
    +input(task, 'name', errors)(type="text")
    +input(task, 'description', errors)(type="text")
    +select(task, statusesData, 'status', errors)(type="text")
    +select(task, usersData, 'executor', errors)(type="text")
    +submit(task)(value=t('views.tasks.new.save'))
